<div class="cart">
    <div class="container">
        <div class="cart__upContent">
        <div class="upContent_right">
            <img src="../../../assets/images/cart/Group.svg" alt="">
            <img src="../../../assets/images/cart/Group (1).svg" alt="">
            <img src="../../../assets/images/cart/Group (2).svg" alt="">
            <img class="upContent_vector" src="../../../assets/images/cart/Vector (1).svg" alt="">    
        </div>
        <div class="upContent_middle">
            <img src="../../../assets/images/cart/Group.svg" alt="">
            <img src="../../../assets/images/cart/Group (1).svg" alt="">
            <img src="../../../assets/images/cart/Group (2).svg" alt="">
            <img class="upContent_vector"  src="../../../assets/images/cart/Vector (1).svg" alt="">
        </div>
        <div class="upContent_left">
            <img src="../../../assets/images/cart/Group.svg" alt="">
            <img src="../../../assets/images/cart/Group (1).svg" alt="">
            <img src="../../../assets/images/cart/Group (2).svg" alt="">
            <img class="upContent_vector" src="../../../assets/images/cart/Vector (1).svg" alt="">
        </div>
        </div>
        <div class="cart__downContent">
            <div class="downContent_item">
                <img class="item_img" src="../../../assets/images/cart/4.svg" alt="">
                <div class="item_text">پرداخت در محل</div>
            </div>
            <div class="downContent_item">
                <img class="item_img" src="../../../assets/images/cart/470.svg" alt="">
                <div class="item_text">تضمین کیفیت</div>
            </div>
            <div class="downContent_item">
                <img class="item_img" src="../../../assets/images/cart/320.svg" alt="">
                <div class="item_text">پاسخگویی شبانه روزی</div>
            </div>
            <div class="downContent_item">
                <img class="item_img" src="../../../assets/images/cart/83.svg" alt="">
                <div class="item_text">امکان تحویل اکسپرس</div>
            </div>
        </div>
    </div>
</div>