<div class="cart">
    <div class="cart__items">
        <div class="cart__items_item">
            <a><img src="../../../assets/images/cart-images/Group 513190.png" alt=""></a>
        </div>
        <div class="cart__items_item">
            <a><img src="../../../assets/images/cart-images/Group 513191.png" alt=""></a>
        </div>
        <div class="cart__items_item">
            <a><img src="../../../assets/images/cart-images/Group 513192.png" alt=""></a>
        </div>
        <div class="cart__items_item">
            <a><img src="../../../assets/images/cart-images/Group 513193.png" alt=""></a>
        </div>
    </div>
</div>