<div class="cart">
    <div class="cart__items">
        <div class="cart__items_item">
            <a><img class="cart__img" src="../../../assets/images/cart-images/Group 513170.png" alt=""></a>
        </div>
        <div class="cart__items_item">
            <a><img class="cart__img" src="../../../assets/images/cart-images/Group 513171-1.png" alt=""></a>
        </div>
        <div class="cart__items_item">
            <a><img class="cart__img" src="../../../assets/images/cart-images/Group 513171.png" alt=""></a>
        </div>
        <div class="cart__items_item">
            <a><img class="cart__img" src="../../../assets/images/cart-images/Group 513170.png" alt=""></a>
        </div>
    </div>
</div>