<div class="cart">
    <div class="container cart__content">
        <section class="cart__leftContent">
            <div class="cart__items">
                <a class="cart_item">
                    <img src="../../../assets/images/cart-images/ITEM-1.png" alt="">
                </a>
                <a class="cart_item">
                    <img src="../../../assets/images/cart-images/ITEM-4.png" alt="">
                </a>
                <a class="cart_item">
                    <img src="../../../assets/images/cart-images/ITEM-3.png" alt="">
                </a>
            </div>
        </section>
        <section class="cart__rightContent">
            <div class="cart__items">
                <a class="cart_item">
                    <img src="../../../assets/images/cart-images/ITEM.png" alt="">
                </a>
                <a class="cart_item">
                    <img src="../../../assets/images/cart-images/ITEM-2.png" alt="">
                </a>
                <a class="cart_item">
                    <img src="../../../assets/images/cart-images/Group 513156.png" alt="">
                </a>
            </div>
        </section>
    </div>
</div>