<div class="card">
    <div class="container">
        <div class="card__items">
            <div class="card__items_item">
                <a><img src="../../../assets/images/card-images/ITEM-1.png" alt=""></a>
            </div>
            <div class="card__items_item">
                <a><img src="../../../assets/images/card-images/ITEM-4.png" alt=""></a>
            </div>
            <div class="card__items_item">
                <a><img src="../../../assets/images/card-images/ITEM-3.png" alt=""></a>
            </div>
            <div class="card__items_item">
                <a><img src="../../../assets/images/card-images/ITEM.png" alt=""></a>
            </div>
            <div class="card__items_item">
                <a><img src="../../../assets/images/card-images/ITEM-2.png" alt=""></a>
            </div>
            <div class="card__items_item">
                <a><img src="../../../assets/images/card-images/Group 513156.png" alt=""></a>
            </div>
        </div>
    </div>
<!-- </div> -->