@import '../../../assets/scss/variables.scss';

::selection {
    background: $color-secondary;
    color: #fff;
}

.container {
    width: 100%;
    padding: 1.6rem;
}

.card {
    margin-top: 10rem;

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem;

        &_item {

            img {
                width: 100%;
                cursor: pointer;
            }
        }
    }

}