<div class="footer">
    <div class="container">
        <div class="footer__items">
            <div class="footer__item">
                <div>
                    <img class="logo" src="../../../assets/images/footer/layer1 2.svg" alt="">
                </div>
                <div class="address">
                    <img class="address_icon" src="../../../assets/images/footer/home.svg" alt="">
                    <div class="address_text">تهران خیابان مطهری <br><br> خیابان افشار پلاک 8</div>
                </div>
                <div class="address">
                    <img class="address_icon" src="../../../assets/images/footer/call_FILL1.svg" alt="">
                    <div class="address_text">تماس در ساعت اداری <br> <br>91309019-021</div>
                </div>
                <div class="address">
                    <img class="address_icon" src="../../../assets/images/footer/mail.svg" alt="">
                    <div class="address_text">info@orkinet.com</div>
                </div>
                <div class="connect">
                    <img class="connect_icon" src="../../../assets/images/footer/facebook-circle-line.svg" alt="">
                    <img class="connect_icon" src="../../../assets/images/footer/instagram-line.svg" alt="">
                    <img class="connect_icon" src="../../../assets/images/footer/twitter-line.svg" alt="">
                    <img class="connect_icon" src="../../../assets/images/footer/telegram-line.svg" alt="">

                </div>
            </div>
            <div class="footer__item">
                <div class="item_title">دسته بندی</div>
                <img class="footer_line" src="../../../assets/images/footer/Line 236.svg" alt="">
                <div class="item_text">سبد گل</div>
                <div class="item_text">تاج گل</div>
                <div class="item_text">گیاهان آپارتمانی</div>
                <div class="item_text">دسته گل</div>
                <div class="item_text">گلدان</div>
                <div class="item_text">خاک و کود</div>
            </div>
            <div class="footer__item">
                <div class="item_title">ارکینت</div>
                <img class="footer_line" src="../../../assets/images/footer/Line 236.svg" alt="">
                <div class="item_text">تماس با ما</div>
                <div class="item_text">قوانین سایت</div>
                <div class="item_text">گلفروشی‌ها</div>
                <div class="item_text">عضویت در سایت</div>
            </div>
            <div class="footer__item">
                <div class="item_title">خدمات مشتریان</div>
                <img class="footer_line" src="../../../assets/images/footer/Line 236.svg" alt="">
                <div class="item_text">سوالات متداول</div>
                <div class="item_text">راهنمای سفارش</div>
                <div class="item_text">نظرات و شکایت</div>
            </div>
            <div class="footer__item">
                <div class="item_title">مطالب مفید</div>
                <img class="footer_line" src="../../../assets/images/footer/Line 236.svg" alt="">
                <div class="item_text">راهنمای استفاده از سایت</div>
                <div class="item_text">معرفی انواع گل</div>
                <div class="item_text">نحوه نگهداری گیاهان آپارتمانی</div>
                <div class="item_text">پرورش گل</div>
                <div class="item_text">اشنایی با کود و خاک</div>
            </div>
            <div class="footer__enamad">
                <img class="enamd" src="../../../assets/images/footer/enamad_icon.png" alt="">
                <div>
                    <img class="star" src="../../../assets/images/footer/Star 11.svg" alt="">
                    <img class="star" src="../../../assets/images/footer/Star 11.svg" alt="">
                    <img class="star" src="../../../assets/images/footer/Star 11.svg" alt="">
                    <img class="star" src="../../../assets/images/footer/Star 11.svg" alt="">
                    <img class="star" src="../../../assets/images/footer/Star 11.svg" alt="">
                </div>
                <div class="enamad_text">نماد اطمینان</div>
            </div>
        </div>
    </div>
</div>
