@import "../../../assets/scss/variables.scss";

::selection {
  background: $color-secondary;
  color: #fff;
}

// .container {
//   width: 100%;
//   margin: 0 auto;

//   @media screen and (min-width: 768px) {
//     width: 700px;
//   }

//   @media screen and (min-width: 1024px) {
//     width: 1000px;
//   }

//   @media screen and (min-width: 1280px) {
//     width: 1200px;
//   }

//   @media screen and (min-width: 1440px) {
//     width: 1400px;
//   }
// }

/********* Header styles *******************************************/
.header {
  min-height: 100px;

  @media screen and (min-width: 1024px) {
    padding-top: 25px;
    padding-bottom: 10px;
  }

  &__background {
    position: absolute;
    z-index: -1;
    top: -0rem;
    left: 0;
    width: 380vw;

    &_desktop {
      display: none;
    }

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 60vw;

      &_desktop {
        display: block;
      }

      &_mobile {
        display: none;
      }
    }

    @media screen and (min-width: 1024px) {
      width: 45vw;

      &_mobile {
        display: none;
      }
    }

    @media screen and (min-width: 1280px) {
      width: 45vw;
    }

    @media screen and (min-width: 1440px) {
      width: 45vw;
    }
  }

  &__rightSide {
    display: flex;
    flex-direction: column;

    &_heading {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    &_bg {
      position: absolute;
      right: -5rem;
      top: -2.5rem;
      z-index: -1;
      width: 37.42531rem;
      height: 38.82563rem;
      flex-shrink: 0;
      border-radius: 38.82563rem;
      opacity: 0.3;
      background: var(--d2, #D5AEE4);
      filter: blur(94px);
    }

  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
    gap: 1rem;

    @media screen and (min-width: 1024px) {
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      gap: 0;
    }
  }

  &__leftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
  }

  &__call {
    display: none;

    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 1rem;
    }

    &_label {
      color: $color-primary;
      font-size: 1.7rem;
    }

    &_icon {
      background-color: #f5f5f5;
      border-radius: 50px;
      width: 31px;
      height: 31px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    &__items {
      display: flex;
      align-items: center;
      gap: 1rem;
      list-style: none;
      padding: 0;
      margin: 0;
    }

  }

  &__rightSide {
    display: flex;
    flex-direction: column;

    &_heading {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }

  /********* SearchBox styles *******************************************/
  .searchBox {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 8px;
    padding: 0 16px;
    width: 100%;
    border: 1px solid $border-color;

    @media screen and (min-width: 1024px) {
      border-radius: 16px;
    }

    @media screen and (min-width: 1280px) {
      min-width: 430px;
    }

    &__input {
      flex-grow: 1;
      width: calc(100% - 24px);
      height: 40px;
      border: none;

      &:focus {
        outline: none;
      }

      ::placeholder {
        color: $border-color;
      }
    }

    &__icon {
      max-height: 24px;
    }
  }



  /********* Logo styles *******************************************/
  .logoDesktop {
    display: none;

    @media screen and (min-width: 1024px) {
      display: flex;
    }

    img {
      max-height: 85px;
    }
  }

  /********* Buttons styles *******************************************/
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 42px;
    min-width: 42px;
    padding: 0 2rem;
    text-decoration: none;
  }

  .btn--withoutText {
    padding: 0;
  }

  .btn--withoutText .btn__text {
    display: none;
  }

  .btn--curved-2 {
    border-radius: $border-radius2;
  }

  .btn--light {
    background-color: #f5f5f5;
    color: $color-primary;
  }

  .btn span {
    font-size: 1.5rem;
    font-weight: 500;

    @media screen and (min-width: 1024px) {
      min-width: 48px;
      height: 48px;

      .btn--withoutText {
        padding: 0 2rem;
      }

      .btn--withoutText .btn__text {
        display: block;
      }

      .btn--withoutText.btn--curved-2 {
        border-radius: $border-radius1;
      }
    }
  }


  /********* Cart styles ***************************/
  .cart {
    position: relative;
    padding: 0;

    &__icon {}

    &__count {
      position: absolute;
      right: 5px;
      top: 5px;
      border-radius: 10px;
      background-color: $color-secondary;
      height: 18px;
      min-width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: 1024px) {
        height: 20px;
        min-width: 20px;
      }
    }

    &__count span {
      font-size: 12px;
      color: $color-primary;
      position: absolute;
      margin-top: 3.6rem;
      margin-left: -3.6rem;

    }


  }

  /********* Mobile styles *********************************/
  .mobileHeading {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @media screen and (min-width: 1024px) {
      display: none;
    }

    &__logo {
      height: 50px;
    }

    &__toggle {}

  }
}