<!-- div.header>div.container>div.container__group*4>div.container__group__item*2 -->

<div class="header">
    <div class="container">
        <div class="container__group">
            <div class="container__group__item">logo</div>
            <div class="container__group__item">search</div>
        </div>
        <div class="container__group">
            <div class="container__group__item">icon contact</div>
            <div class="container__group__item">phone number</div>
        </div>
        <div class="container__group">
            <div class="container__group__item"><menu></menu></div>
        </div>
        <div class="container__group">
            <div class="container__group__item">button select location</div>
            <div class="container__group__item">button sign up</div>
            <div class="container__group__item">button cart</div>
        </div>
    </div>
</div>
