%flex-box{
    display: flex;
    align-items: center;
}


$colors :(
    "--color-primary":#5e6282,
  "--color-secondary":#ee1c25,
  "--color-dark":#646466,
  "--color-white":#fff,
  "--color-body":#e7e7e8,
  "--color-heading":#000000,
  "--color-border":#e7e7e8,
  "--color-text-black":#000,
  "--color-text-green":#0e7c0e,
  "--color-text-gray":#646466,
  "--color-text-gold":#d2ac67,
  "--color-text-red":#d2ac67,
  "--color-text-navyBlue":#004a85,
  "--border-radius1":16px,
  "--border-radius2":30px,
  "--border-color":#D2D5DE,
);

.container {
    width: 100%;
    margin: 0 auto;

 @media screen and (min-width: 76.8rem) {
        width: 70rem;
      
    }
     
  @media screen and (min-width: 102.4rem) {
    width: 100rem;
  
}

@media screen and (min-width: 128rem) {
    width: 120rem;
}

@media screen and (min-width: 144rem) {
  
    width: 140rem;
  
}
  };

.header {
    min-height: 10rem;
    &__background{
        position: absolute;
        top: -15.55rem;
        left: -6.25rem;
        z-index: -1;
    }
    @media screen and (min-width: 1024px) 
         {
          padding-top: 50px;
          padding-bottom: 10px;
  }
  &__content{
    @extend %flex-box;
    justify-content: space-between;
  }
  &__leftSide{
    display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  }
  &__call{
    @extend %flex-box;
  text-decoration: none;
  gap: 1rem;

  &_label{
    color : map-get($colors,--color-primary);
    font-size: 1rem;
  }
  &_icon{
    @extend %flex-box;
    background-color: map-get($colors,--color-white  );
    border-radius: 1.5rem;
    width: 1.56rem;
    height: 1.5rem;
    justify-content: center;
   
  }
  }
  &__tools{
    &_items{
        @extend %flex-box;
        gap: 1.5rem;
        list-style: none;

    }
  }
  &__rightSide{
    display: flex;
    flex-direction: column;
  }
  &_heading{
    @extend %flex-box;
  gap: 1.8rem;

  .logoDesktop{
    display: flex;
    &img{
        max-height: 2.9rem;
    }

    .menu{
        &__items{
            display: flex;
            gap: 2rem;
            list-style: none;
            padding-right: 1rem;
        }
        &__item{
            &_link{
                color: map-get($colors,--color-primary );
                text-decoration: none;
            }
            .btn{
                @extend %flex-box;
                justify-content: center;
                gap: 1rem;
                height: 48px;
                min-width: 48px;
                padding: 0 2rem;
                text-decoration: none;
            }
            &--curved-2{
                border-radius: map-get($colors, --border-radius1 )
            }
            &--light{
                background-color:map-get($colors, --color-white );
                color: map-get($colors, --color-primary);
            }
            & span{
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
    }
  }

  .searchBox{
    @extend %flex-box;
    height: 50px;
  background-color: white;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius:0.63rem;
  padding: 0.6875rem 1rem 0.75rem 16.375rem;
  min-width: 27.8rem;
  border: 1px solid map-get($colors,--border-color );
  }

  &__icon{
    max-height: 1.5rem;
  }
  }

}
  

    
  
  