$colors :(
    "--color-primary":#5e6282,
  "--color-secondary":#ee1c25,
  "--color-dark":#646466,
  "--color-white":#fff,
  "--color-body":#e7e7e8,
  "--color-heading":#000000,
  "--color-border":#e7e7e8,
  "--color-text-black":#000,
  "--color-text-green":#0e7c0e,
  "--color-text-gray":#646466,
  "--color-text-gold":#d2ac67,
  "--color-text-red":#d2ac67,
  "--color-text-navyBlue":#004a85,
  "--border-radius1":16px,
  "--border-radius2":30px,
  "--border-color":#bbbdcc,
);

.container {
    width: 100%;
    margin: 0 auto;

 @media screen and (min-width: 76.8rem) {
        width: 70rem;
      
    }
     
  @media screen and (min-width: 102.4rem) {
    width: 100rem;
  
}

@media screen and (min-width: 128rem) {
    width: 120rem;
}

@media screen and (min-width: 144rem) {
  
    width: 140rem;
  
}
  };

.header {
    min-height: 10rem;
    &__background{
        position: absolute;
        top: -15.55rem;
        left: -6.25rem;
        z-index: -1;
    }
  }
  

    
  
  