<div class="discountFlower">
    <div class="container">
        <div class="discountFlower__rightSide">
            <div class="rightSide__header">
                <div class="rightSide__header_img">
                    <img src="../../../assets/images/discount-flower/cart_flower.jpg" alt="">
                </div>
                <div class="rightSide__header_text">پیشنهاد ویژه</div>
                <div class="rightSide__header_button">
                    <div class="button__text">محصولات بیشتر</div>
                    <img class="button__arrow" src="../../../assets/images/discount-flower/cart-arrow.jpg" alt="">
                </div>
            </div>
            <div class="rightSide__footer">
                <img src="../../../assets/images/discount-flower/discount.svg" alt="">
            </div>
        </div>
        <div class="discountFlower__leftSide">
            <a class="discountFlower__item">
                <div class="discountFlower__item_image">
                    <img class="discountFlower__item_image" src="../../../assets/images/bestSelling-images/5th.png"
                        alt="">
                    <div class="discountFlower__off">-10%</div>
                </div>
                <div class="discountFlower__item_header">
                    <div class="header__text">
                        <div class="text__title">گلدان سانسوریا</div>
                        <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                    </div>
                    <button class="header__button">مشاهده</button>
                </div>
                <div class="discountFlower__item_footer">
                    <div class="footer__text">
                        <div class="text__lastPrice">1,500,000</div>
                        <div class="text__lastUnit">تومان</div>
                    </div>
                    <div class="footer__text">
                        <div class="text__newPrice">1,500,000</div>
                        <div class="text__newUnit">تومان</div>
                    </div>
                </div>
            </a>
            <a class="discountFlower__item">
                <div class="discountFlower__item_image">
                    <img class="discountFlower__item_image" src="../../../assets/images/bestSelling-images/3rd.png"
                        alt="">
                    <div class="discountFlower__off">-10%</div>
                </div>
                <div class="discountFlower__item_header">
                    <div class="header__text">
                        <div class="text__title">گلدان سانسوریا</div>
                        <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                    </div>
                    <button class="header__button">مشاهده</button>
                </div>
                <div class="discountFlower__item_footer">
                    <div class="footer__text">
                        <div class="text__lastPrice">1,500,000</div>
                        <div class="text__lastUnit">تومان</div>
                    </div>
                    <div class="footer__text">
                        <div class="text__newPrice">1,500,000</div>
                        <div class="text__newUnit">تومان</div>
                    </div>
                </div>
            </a>
            <a class="discountFlower__item">
                <div class="discountFlower__item_image">
                    <img class="discountFlower__item_image" src="../../../assets/images/bestSelling-images/5th.png"
                        alt="">
                    <div class="discountFlower__off">-10%</div>
                </div>
                <div class="discountFlower__item_header">
                    <div class="header__text">
                        <div class="text__title">گلدان سانسوریا</div>
                        <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                    </div>
                    <button class="header__button">مشاهده</button>
                </div>
                <div class="discountFlower__item_footer">
                    <div class="footer__text">
                        <div class="text__lastPrice">1,500,000</div>
                        <div class="text__lastUnit">تومان</div>
                    </div>
                    <div class="footer__text">
                        <div class="text__newPrice">1,500,000</div>
                        <div class="text__newUnit">تومان</div>
                    </div>
                </div>
            </a>
            <a class="discountFlower__item">
                <div class="discountFlower__item_image">
                    <img class="discountFlower__item_image" src="../../../assets/images/bestSelling-images/4th.png"
                        alt="">
                    <div class="discountFlower__off">-10%</div>
                </div>
                <div class="discountFlower__item_header">
                    <div class="header__text">
                        <div class="text__title">گلدان سانسوریا</div>
                        <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                    </div>
                    <button class="header__button">مشاهده</button>
                </div>
                <div class="discountFlower__item_footer">
                    <div class="footer__text">
                        <div class="text__lastPrice">1,500,000</div>
                        <div class="text__lastUnit">تومان</div>
                    </div>
                    <div class="footer__text">
                        <div class="text__newPrice">1,500,000</div>
                        <div class="text__newUnit">تومان</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>