<div class="category">
    <div class="container">
        <div class="category__content_items">
            <ul class="category__items">
                <li>
                    <a class="category__item" href="">
                        <img src="../../../assets/images/category-images/firstPic.jpg" alt="">
                        <span class="category__text">سبد/ باکس گل</span>
                    </a>
                </li>
                <li>
                    <a class="category__item" href="">
                        <img src="../../../assets/images/category-images/2ndPic.jpg" alt="">
                        <span class="category__text">گیاهان آپارتمانی</span>
                    </a>
                </li>
                <li>
                    <a class="category__item" href="">
                        <img src="../../../assets/images/category-images/3rdPic.jpg" alt="">
                        <span class="category__text">سبد/ باکس گل</span>
                    </a>
                    <img class="category__bg_image" src="../../../assets/images/category-images/backGround.jpg" alt="">
                    <img class="category__firstBg_image" src="../../../assets/images/category-images/back-first.jpg"
                        alt="">
                </li>

                <li>
                    <a class="category__item" href="">
                        <img src="../../../assets/images/category-images/4thPic.jpg" alt="">
                        <span class="category__text">گیاهان آپارتمانی</span>
                    </a>
                </li>
                <li>
                    <a class="category__item" href="">
                        <img src="../../../assets/images/category-images/3rdPic.jpg" alt="">
                        <span class="category__text">سبد/ باکس گل</span>
                    </a>
                </li>
                <li>
                    <a class="category__item" href="">
                        <img src="../../../assets/images/category-images/2ndPic.jpg" alt="">
                        <span class="category__text">گیاهان آپارتمانی</span>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</div>