<div class="category">
    <div class="category__content_items">
        <ul class="category__items">
            <li>
                <a class="category__item_1" href="">
                    <img src="../../../assets/images/category-images/firstPic.jpg" alt="">
                    <span class="category__text">سبد/ باکس گل</span>
                </a>
            </li>
            <li>
                <a class="category__item_2" href="">
                    <img src="../../../assets/images/category-images/2ndPic.jpg" alt="">
                    <span class="category__text">گیاهان آپارتمانی</span>
                </a>
            </li>
            <li>
                <a class="category__item_3" href="">
                    <img src="../../../assets/images/category-images/3rdPic.jpg" alt="">
                    <span class="category__text">سبد/ باکس گل</span>
                </a>
            </li>

            <li>
                <a class="category__item_4" href="">
                    <img src="../../../assets/images/category-images/4thPic.jpg" alt="">
                    <span class="category__text">گیاهان آپارتمانی</span>
                </a>
            </li>
            <li>
                <a class="category__item_5" href="">
                    <img src="../../../assets/images/category-images/3rdPic.jpg" alt="">
                    <span class="category__text">سبد/ باکس گل</span>
                </a>
            </li>
            <li>
                <a class="category__item_6" href="">
                    <img src="../../../assets/images/category-images/2ndPic.jpg" alt="">
                    <span class="category__text">گیاهان آپارتمانی</span>
                </a>
            </li>

        </ul>
    </div>
    <img class="category__bg_image" src="../../../assets/images/category-images/backGround.jpg" alt="">
</div>