@import '../../../assets/scss/variables.scss';

::selection {
    background: $color-secondary;
    color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 700px;
    }

    @media screen and (min-width: 1024px) {
        width: 1000px;
    }

    @media screen and (min-width: 1280px) {
        width: 1200px;
    }

    @media screen and (min-width: 1440px) {
        width: 1400px;
    }
}

/********* category styles *******************************************/
.category__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    // gap: 11rem;
}

.category__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
    min-height: 23rem;
    min-width: 18rem;
    text-decoration: none;
    justify-content: center;
}

a {
    border-radius: 2.25rem;
    transition: all 200ms;
}

a:hover {
    background: $color-white;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px -5px 28px 0px rgba(0, 0, 0, 0.04), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02);
    transform: scale(1.03);
}

.category__bg_image {
    position: absolute;
    margin-top: -3.2rem;
    margin-right: 15rem;
    z-index: -1;
    width: 5.25rem;
    height: 5.25rem;
}