@import '../../../assets/scss/variables.scss';

::selection {
    background: $color-secondary;
    color: #fff;
}

// .container {
//     width: 100%;
//     margin: 0 auto;

//     @media screen and (min-width: 768px) {
//         width: 700px;
//     }

//     @media screen and (min-width: 1024px) {
//         width: 1000px;
//     }

//     @media screen and (min-width: 1280px) {
//         width: 1200px;
//     }

//     @media screen and (min-width: 1440px) {
//         width: 1400px;
//     }
// }

/********* benner styles *******************************************/
.banner {
    margin: 2.5rem 0;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 10rem;
    }

    &__leftSide_image {
        width: 45rem;
        transform: rotate(1deg);
        flex-shrink: 0;
    }

    &__rightSide {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 50rem;
        height: 25rem;

    }

    &__topText {
        color: $color-text-bannerBlue;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.01875rem;
    }

    &__downText {
        color: $color-text-bannerBlue ;
        text-align: center;
        font-size: 1.85rem;
        font-style: normal;
        font-weight: 450;
        line-height: 222.022%;
        /* 2.50025rem */
        letter-spacing: 0.01875rem;
    }

    &__vector_img {
        width: 23.59063rem;
        height: 4.13644rem;
        transform: rotate(-152.809deg);
        flex-shrink: 0;
    }

    &__button {

        padding: 0.5rem 1.875rem 0.5625rem 1.875rem;
        border-radius: 0.625rem;
        border-color: $color-white;
        background: $color-button-banner;
        color: $color-white;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: normal;
        gap: 0.625rem;

    }
}