<div class="banner">
    <div class="container">

        <div class="banner__content">
            <div class="banner__rightSide">
                <div class="banner__topText">بهــترین جا برای بهــترین انتخــاب</div>
                <div class="banner_vector">
                    <img class="banner_vector_img" src="../../../assets/images/banner-images/Vector.jpg" alt="">
                </div>
                <div class="banner__downText">بیشترین تنوع، سرعت و بالاترین کیفیت را با ما تجربه کنید.
                    <br>

                    سفارش تلفنی با شماره: 91309019-۰۲۱ از ۸ الی ۲۱
                </div>
                <button class="banner__button">محصولات آماده ارسال</button>
            </div>

            <img class="banner__leftSide_image" src="../../../assets/images/banner-images/bouquet.png" alt="">

        </div>
    </div>
    <!-- </div> -->