<div class="plantCategory">
    <div class="plantCategory__items">
        <div class="plantCategory__items_item">
            <a><img class="plantCategory__img" src="../../../assets/images/plant-category/plant_category01.png"
                    alt=""></a>
        </div>
        <div class="plantCategory__items_item">
            <a><img class="plantCategory__img" src="../../../assets/images/plant-category/plant_category02.png"
                    alt=""></a>
        </div>
        <div class="plantCategory__items_item">
            <a><img class="plantCategory__img" src="../../../assets/images/plant-category/plant_category03.png"
                    alt=""></a>
        </div>
        <div class="plantCategory__items_item">
            <a><img class="plantCategory__img" src="../../../assets/images/plant-category/plant_category04.png"
                    alt=""></a>
        </div>
    </div>
</div>