@import '../../../assets/scss/variables.scss';
@mixin section_style ($direction){
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    flex-direction: $direction;
}
%card-style{
    .card{
        &__image{
            width: 26rem;
            height: 32rem ;
            border-radius: 0.3125rem;
            margin-bottom: 2rem;
            background:  lightgray 50% / cover no-repeat;  
        }
        &__header{ 
            display: flex;
            justify-content: space-between;   
                .text__title{
                    color: $color-text-bannerBlue;
                    font-size: 1.7rem;
                    font-weight: 400;
                    margin-bottom: 0.87rem;
                }
                .text__subtitle{
                    color:$color-card-sub;
                    font-size: 1.5rem;
                    font-weight: 400;
                }
        
                .header__button{
                    padding: 0.5625rem 1.5rem 0.625rem 1.5rem;
                    gap: 0.625rem;
                    border-radius: 0.625rem;
                    border: 0.5px solid $color-text-bannerBlue;
                    background-color: $color-white;
                    color: $color-text-bannerBlue;
                    font-size: 1.4rem;
                    font-weight: 500;
                }
        }
        &__footer{
            display: flex;
            justify-content: space-between;  
            margin-top: 2rem;
            .footer__text{
                display: flex;
                .text__price{
                    color:$color-text-bannerBlue;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
            }  
        }

    }
}

::selection {
    background: $color-secondary;
    color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 700px;
    }

    @media screen and (min-width: 1024px) {
        width: 1000px;
    }

    @media screen and (min-width: 1280px) {
        width: 1200px;
    }

    @media screen and (min-width: 1440px) {
        width: 1400px;
    }
}


/********* BestSelling styles *******************************************/

.bestSelling{
    margin-top: 15rem;
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      .header__title{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .title_text{
            color: $color-text-bannerBlue;
            font-size: 1.7rem;
            font-weight: 700;
            border: none;
            background-color: $color-white;
        }
      }
      .header__visit{
        display: flex;
        flex-direction: row;
        align-items: center; 
        gap: 1rem;
        
        .visit_text{
            color:$color-button-banner;
            font-size: 1.7rem;
            font-weight: 700;
            border: none;
            background-color: $color-white;
        }
      }
      
    }
    &__content{
      margin-top: 1rem;
    }
}

.contentUp{
    @include section_style(none);
    @extend %card-style

}

    


.contentDown{
    @include section_style(none) ;
    @extend %card-style
}
a:hover{
    border-radius: 0.3125rem;
    background: $color-white;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.10);
    padding: 1rem;
}

