<div class="bestSelling">
    <div class="container">
        <div class="bestSelling__header">
            <div class="header__title">
                <button class="title_text">پرفروش‌ترین</button>
                <img  src="../../../assets/images/bestSelling-images/flower_ic.jpg" alt="">
            </div>
            <div class="header__visit">
                <button class="visit_text">مشاهده همه</button>
                <img src="../../../assets/images/bestSelling-images/arrow-left.jpg" alt="">
            </div>
        </div>
        <div class="bestSelling__content">
            <section class="contentUp">
                <a class="card">
                    <div class="card__image">
                        <img class="card__image" src="../../../assets/images/bestSelling-images/1rst.png" alt="">
                    </div>
                    <div class="card__header">
                        <div class="header__text">
                            <div class="text__title">گلدان سانسوریا</div>
                            <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                        </div>
                        <button class="header__button">مشاهده</button>
                    </div>  
                    <div class="card__footer">
                        <div class="footer__text">
                            <div class="text__price">1,500,000</div>
                            <div class="text__unit">تومان</div>
                        </div>
                        <div class="footer__stars">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                        </div>
                    </div>
                </a>
                <a class="card">
                    <div class="card__image">
                        <img class="card__image" src="../../../assets/images/bestSelling-images/1rst.png" alt="">
                    </div>
                    <div class="card__header">
                        <div class="header__text">
                            <div class="text__title">گلدان سانسوریا</div>
                            <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                        </div>
                        <button class="header__button">مشاهده</button>
                    </div>  
                    <div class="card__footer">
                        <div class="footer__text">
                            <div class="text__price">1,500,000</div>
                            <div class="text__unit">تومان</div>
                        </div>
                        <div class="footer__stars">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                        </div>
                    </div>
                </a>
                <a class="card">
                    <div class="card__image">
                        <img class="card__image" src="../../../assets/images/bestSelling-images/3rd.png" alt="">
                    </div>
                    <div class="card__header">
                        <div class="header__text">
                            <div class="text__title">گلدان سانسوریا</div>
                            <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                        </div>
                        <button class="header__button">مشاهده</button>
                    </div>  
                    <div class="card__footer">
                        <div class="footer__text">
                            <div class="text__price">1,500,000</div>
                            <div class="text__unit">تومان</div>
                        </div>
                        <div class="footer__stars">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">  
                        </div>
                    </div>
                </a>
                <a class="card">
                    <div class="card__image">
                        <img class="card__image" src="../../../assets/images/bestSelling-images/4th.png" alt="">
                    </div>
                    <div class="card__header">
                        <div class="header__text">
                            <div class="text__title">گلدان سانسوریا</div>
                            <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                        </div>
                        <button class="header__button">مشاهده</button>
                    </div>  
                    <div class="card__footer">
                        <div class="footer__text">
                            <div class="text__price">1,500,000</div>
                            <div class="text__unit">تومان</div>
                        </div>
                        <div class="footer__stars">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                        </div>
                    </div>
                </a>
                <a class="card">
                    <div class="card__image">
                        <img class="card__image" src="../../../assets/images/bestSelling-images/5th.png" alt="">
                    </div>
                    <div class="card__header">
                        <div class="header__text">
                            <div class="text__title">گلدان سانسوریا</div>
                            <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                        </div>
                        <button class="header__button">مشاهده</button>
                    </div>  
                    <div class="card__footer">
                        <div class="footer__text">
                            <div class="text__price">1,500,000</div>
                            <div class="text__unit">تومان</div>
                        </div>
                        <div class="footer__stars">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                        </div>
                    </div>
                </a>
            </section>
            <section class="contentDown">
                <a class="card">
                    <div class="card__image">
                        <img class="card__image" src="../../../assets/images/bestSelling-images/1rst.png" alt="">
                    </div>
                    <div class="card__header">
                        <div class="header__text">
                            <div class="text__title">گلدان سانسوریا</div>
                            <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                        </div>
                        <button class="header__button">مشاهده</button>
                    </div>  
                    <div class="card__footer">
                        <div class="footer__text">
                            <div class="text__price">1,500,000</div>
                            <div class="text__unit">تومان</div>
                        </div>
                        <div class="footer__stars">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                        </div>
                    </div>
                </a>
                <a class="card">
                    <div class="card__image">
                        <img class="card__image" src="../../../assets/images/bestSelling-images/1rst.png" alt="">
                    </div>
                    <div class="card__header">
                        <div class="header__text">
                            <div class="text__title">گلدان سانسوریا</div>
                            <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                        </div>
                        <button class="header__button">مشاهده</button>
                    </div>  
                    <div class="card__footer">
                        <div class="footer__text">
                            <div class="text__price">1,500,000</div>
                            <div class="text__unit">تومان</div>
                        </div>
                        <div class="footer__stars">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                        </div>
                    </div>
                </a>
                <a class="card">
                    <div class="card__image">
                        <img class="card__image" src="../../../assets/images/bestSelling-images/3rd.png" alt="">
                    </div>
                    <div class="card__header">
                        <div class="header__text">
                            <div class="text__title">گلدان سانسوریا</div>
                            <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                        </div>
                        <button class="header__button">مشاهده</button>
                    </div>  
                    <div class="card__footer">
                        <div class="footer__text">
                            <div class="text__price">1,500,000</div>
                            <div class="text__unit">تومان</div>
                        </div>
                        <div class="footer__stars">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                        </div>
                    </div>
                </a>
                <a class="card">
                    <div class="card__image">
                        <img class="card__image" src="../../../assets/images/bestSelling-images/4th.png" alt="">
                    </div>
                    <div class="card__header">
                        <div class="header__text">
                            <div class="text__title">گلدان سانسوریا</div>
                            <div class="text__subtitle">مقاوم‌ترین گیاه آپارتمانی</div>
                        </div>
                        <button class="header__button">مشاهده</button>
                    </div>  
                    <div class="card__footer">
                        <div class="footer__text">
                            <div class="text__price">1,500,000</div>
                            <div class="text__unit">تومان</div>
                        </div>
                        <div class="footer__stars">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                        </div>
                    </div>
                </a>
                <a class="card">
                    <div class="card__image">
                        <img class="card__image" src="../../../assets/images/bestSelling-images/5th.png" alt="">
                    </div>
                    <div class="card__header">
                        <div class="header__text">
                            <div class="text__title">گلدان سانسوریا</div>
                            <div class="text__subtitle">مقاوم‌ترین گیاهان آپارتمانی</div>
                        </div>
                        <button class="header__button">مشاهده</button>
                    </div>  
                    <div class="card__footer">
                        <div class="footer__text">
                            <div class="text__price">1,500,000</div>
                            <div class="text__unit">تومان</div>
                        </div>
                        <div class="footer__stars">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                            <img src="../../../assets/images/bestSelling-images/Star.png" alt="">
                        </div>
                    </div>
                </a> 

            </section>
        </div>
    </div>
<!-- </div> -->