<div class="menu">
    <ul class="menu__items">
        <li class="menu__item"><a href="" class="menu__item_link">خانه</a></li>
        <li class="menu__item"><a href="" class="menu__item_link">گل های تزئینی</a></li>
        <li class="menu__item"><a href="" class="menu__item_link">گیاهان آپارتمانی</a></li>
        <li class="menu__item"><a href="" class="menu__item_link">گلفروشی ها</a></li>
        <li class="menu__item"><a href="" class="menu__item_link">درباره ارکینت</a></li>
    </ul>
</div>

<nav class="mega-menu">
    <div class="right-side">
        <div class="right-side__item active"></div>
        <div class="right-side__item"></div>
    </div>
    <div class="left-side">
        <div class="left-side__content">
            <div class="left-side__item"></div>
            <div class="left-side__item"></div>
            <div class="left-side__item"></div>
            <div class="left-side__item"></div>
            <div class="left-side__item"></div>
        </div>

    </div>
</nav>